@media screen and (max-width: 617px) 
{
    body {
        header {
            padding: 50px;
            width: 100%;
            align-items: center;
        }

        main {
            nav {
                display: none;
            }

            article {
                flex-direction: column;
                width: 200%;

                .noticia {
                    &.dos {
                    margin: 0;
                    padding: 0;
                    }

                    p {
                        text-align: justify;
                    }
                }

                .imagen {
                    display: none;
                }
            }

            aside {
                margin-left: 20px;

                img {
                    margin-top: 80px;
                    width: 120%;
                    margin-right: 50px;
                    margin-left: 0;
                }
            }
        }
    }
}